html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
.about{
    overflow: hidden;
}

.about__header {
    color: #B8C5D6;
}

.about__link, .diary__link {
    color: #A6B1E1;
}

.about__photo{
    float: left;
    width: 100%;
    max-width: 100px;
    display: block;
    margin: 0 16px 16px 0;
    
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,150,233,1) 23%, rgba(0,212,255,1) 100%);

}

.diary__header{

}

.day__paragraph{
padding: 2px;
    
}

.day__header{
    color: #1A964E;
}

.day__header--tuesday{
    color: darkblue;
}
.header__title {
    color: #272D2D;
    padding-top: 50px;
    
 }

 .header__title--red{
     color: darkred;
     padding-top: 50px;
 }

 .hobby{

 }

 .hobby__list{
     list-style: none;
 }

 .main {
    width: 100%;
    max-width: 1000px;
    margin : 32px auto;
    position: relative;
   
}

.navigation{
    


}

.navigation__list{

    display: flex;

    justify-content: center;
    list-style: none;
    padding: 0;
   
   
}

.navigation__item{

    display: block;
    margin-left: 8px;
  
}

.site-header{
    width: 100%;
    position:fixed;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    background: white;
    z-index: 2;
    min-height: 42px;
}

.table{
    width: 100%;
}
.footer__top{
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
}

@media(max-width: 640px){
   

    .navigation__list{
        flex-direction: column;
        display:none;
    }

    .navigation__list--visible{
        display:flex;
    }

    .navigation__item{
        margin-left: 16px;
    }

    .navigation__button{
        border: none;
        background: none;
        position: absolute;
        right: 16px;
        top: 16px;
    }
   
}

@media(min-width: 641px){
    .main{
        max-width: 900px;
    }

    .navigation__button{
        display:none;
    }
}