
.about{
    overflow: hidden;
}

.about__header {
    color: #B8C5D6;
}

.about__link, .diary__link {
    color: #A6B1E1;
}

.about__photo{
    float: left;
    width: 100%;
    max-width: 100px;
    display: block;
    margin: 0 16px 16px 0;
    
}

body {
    background: #EDF5FC;

}

.diary__header{

}

.diary_paragraph{
padding: 2px;
    
}

.diary__section--header{
    color: #1A964E;
}

.header {
    color: #272D2D;
    padding-top: 50px;
    
 }

 .main {
    width: 100%;
    max-width: 1000px;
    margin : 32px auto;
    position: relative;
   
}

.navigation{
    width: 100%;
    position:fixed;
    top: 0;
    left : 10px;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    background: white;
    z-index: 2;
}

.footer__top{
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
}